*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.abajo{
    color: #fff;
    background: #707070c4 ;
}
.cover-container{
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0,6);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.videos{
    object-fit: cover;
    width: 100%;
    height: 900px;
    z-index: -1000;
    position: relative;   
    max-width: 100%;
    margin-top:-300px
    
}
.tuitulovideo{
    margin-top: -430px;
    font-family: cursive;
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px 10px rgb(89, 174, 196), 0 0 22px rgb(52, 105, 143);
}
.parrafovideo{
    font-size: 33px;
    color: azure;
    width: 80%;
    text-align: justify;
    text-shadow: 1px 1px 10px rgb(89, 174, 196), 0 0 22px rgb(52, 105, 143);
}
/************* seccion de formulario correo************************* */
.abajo::before{
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    background-color: #4090eca1;
    opacity: 0.9;
}

.abajo{
    background-color: #0077ff63;
    width: 50%;
    height: 500px;
    border-radius: 14px;
    max-width: 100%;
}
.contact-info{
   margin-top: 3px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.info-items{

    
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin-left: auto;
   
}
.contact-info{
    margin-bottom: 20px;
}
.contact-info span{
    font-size: 100px;
    display: block;
    text-align: center;

}
.info-items p{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.info-items p:nth-child(1) span{
    font-size: 30px;
}
.info-items p:nth-child(2) span{
    font-size: 30px;
}
.info-items p:nth-child(3) span{
    font-size: 30px;
}
.paraformulario2{
    margin-left: -56px;

}
.body{
    
    background-image: url("./img/fondo-pta.jpg");
    margin-top: -80px;
    z-index: -1000;
}

/****************fin ***************************/





@media screen and (min-width: 1075px) {
    .parrafovideo{
        font-size: 16px;      
        width: 80%;
    }
    .videos{
        margin-top: -450px;
        z-index: -1000;
    }
    .body{
        margin-top: 0px;
    }
}
@media screen and (max-width: 1075px) {
    .tuitulovideo{
       margin-top: -600px;
        z-index: -1000; 
    } 
    .parrafovideo{
        font-size: 16px;
        width: 90%;
    }
    .videos{
        margin-top: -440px;
        z-index: -1000;
        height: 900px;
    }
    
   
} 
@media screen and (max-width: 654px) {
    .tuitulovideo{
        font-size: 30px;
        margin-top: -400px;
        z-index: -1000; 
        margin-top: -34px;
     } 
     .parrafovideo{
         font-size: 16px;
         width: 80%;
     }
     .videos{
         margin-top: -200px;
         z-index: -1000;
     }

}
@media screen and (max-width: 375px) {
    .parrafovideo{
        font-size: 10px;
        width: 60%; 
        
    }
    .videos{
        margin-top: -20px;
        z-index: -1000;

    }
    .tuitulovideo{
       
        margin-top: -530px;
        z-index: -1000; 
        
     } 
    
}

@media screen and (max-width: 914px) {
    .parrafovideo{
        font-size: 16px;
        width: 90%; 
        
    }
    .videos{
        margin-top: -294px;
        z-index: -1000;
    }
    .tuitulovideo{
       
        margin-top: -600px ;
        z-index: -1000; 
        
     } 
     .body{
         margin-top: 56px;
     }
}
 
@media screen and (max-width: 689px){
    .abajo{
       
        width: 100%;
        height: 100%;
        
       
        min-width: 100%;
    }
   
   
}
@media screen and (max-width: 756px){
    .abajo{
       
        width: 100%;
        height: 100%;
        
       
        min-width: 100%;
    }
   
   
}
 
@media screen and (max-width: 323px){
    .parrafovideo{
        font-size: 13px;
        width: 80%; 
        
    }
    .videos{
        margin-top: -294px;
        z-index: -1000;
    }
    .tuitulovideo{
       
        margin-top: -550px;
        z-index: -1000; 
        
     } 
}


@media screen and (max-width: 277px){
    .tuitulovideo{
        margin-top: -670px;
        z-index: -1;
    }
    .parrafovideo{
        font-size: 10px;
        width: 80%; 
        
    }
    .videos{
        margin-top: -300px;
        z-index: -1000;
    }

}