.flex__container{
  width:80%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  margin:  auto;
  
  background-color: #fffcfc;
  border:3px solid rgb(238, 237, 237);
  margin-top: -5%;
}

.from{
  display:flex;
  flex-direction: column;
  width:100%;
  min-width: 200px;
  flex:1;
  text-align: center;
  padding: 50px;
 
}

@media(min-width: 1024px){
  .from{
      display:flex;
      flex-direction: column;
      width:100%;
      height:20%;
      min-width: 400px;
      flex:1;
      text-align: center;
      
  }
}

.from__input{
  width:100%;
  padding:6px;
  margin: 6px;
  outline: none;
  border: transparent;
  background:#fffcfc;
  border-bottom: solid #093b4e;
  color: rgb(7, 7, 7);
}


.from__input:hover{
  width:100%;
  padding:6px;
  margin: 6px;
  border: #d7d7d7;
  background:rgba(255, 255, 255, 0.829);
  border-bottom:3px solid #093644;
}



.from__input:focus{
  width:100%;
  background:rgb(243, 240, 240);
  border-bottom:3px solid #033e41;
}

.from textarea{
  min-height: 120px;
  resize: none;
  border:none;
  width:100%;
  padding:6px;
  margin: 6px;
  background:white;
  border-bottom:3px solid #f1f5f5;
  outline: none;
}

input:hover{
  border:none;
  background:#dbdbdb;
  outline: none;
  width:100%;
}


.imagen img{
  display:flex;
  margin: 0 auto;
 
  border-radius: 12px;
  width:100%;
  height: 510px;
  margin-top: -445px;
  opacity: 0.12;

}


.bto{
  width:30%;
  padding:10px;
  border-radius: 10px;
  outline:0;
  background:#409b9b93;
  border: 0;
  color: white;
  border: 2px solid white;
}
.bto:hover{
  width:40%;
  padding:10px;
  border-radius: 10px;
  outline:0;
  background:#3d4b8a;
  border: 0;
  border:2px solid white;
} 
 
@media(min-width: 1024px){
  .from{
      display:flex;
      flex-direction: column;
      width:100%;
      height:30%;
      min-width: 300px;
      flex:1;
      text-align: center;
      
  }
}
@media(max-width: 1024px){
  .from{
      display:flex;
      flex-direction: column;
      width:100%;
      height:30%;
      min-width: 300px;
      flex:1;
      text-align: center;
      
  }
}


  

@media screen and (max-width: 375px) {
 
  .from__input, .from__input:hover{
    width: 263px;
  }
  
  .from, .from:hover{
    margin-left: -38px;
    width: 280px;

  }
  .from textarea, .from__input:hover{
    width: 263px;
  }
  .bto{
    width: 150px;
    margin-left: 60px;

  }

}
@media screen and (max-width: 323px) {
  
  .from__input, .from__input:hover{
    width: 205px;
  }
  
  .from, .from:hover{
    margin-left: -38px;
    width: 200px;

  }
  .from textarea, .from__input:hover{
    width: 205px;
  }
  .bto{
    width: 150px;
    margin-left: 30px;

  }
  
  

}



@media screen and (max-width: 774px){
  .abajo{
     
      width: 100%;
      height: 100%;
      
     
      min-width: 100%;
  }
}
