.ConteinerMascota{

    width: 30em;
    height: 20em;
    background: rgb(230, 219, 219);
}
.AdotarImg{
   
    
    width: 100%;
  
    border-radius: 5%;
    
    object-fit: contain;
   height: 100%;

    object-fit: cover;
   

}
.formAdoptar{
    margin-top: -100px;

    
}

img{
    width: 70%;
    border-radius: 10px;
}

.ContainerMascotas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    font-size: 25px;
    
   
    
}

.Mascotadiv{
    padding: 20px;
    color: #fff;
    font-size: 35px;
  
}

.CenterNombre{
    text-align: center;
    color: rgb(255, 255, 255);
    border-style: inherit;
    font-family: cursive;
    text-shadow: 1px 3px 30px rgb(0, 0, 0), 0 0 22px rgb(0, 149, 255);
    margin-top: 60px;
    font-size: 40px;
    padding: 1px;
    border: 2px solid rgba(255, 255, 255, 0.432);  
    border-radius: 4px;
    background-color: rgba(10, 10, 10, 0.199);
    padding: 10px;

   
    background: clip;
   
}



button{
    width: 70%;
}
.formAdoptar{
    width: 70%;
    display: block !important;
    border-radius: 10px ;
   
    margin: 30px;
    padding: 50px;
    background: rgb(0,184,222);
    background: linear-gradient(90deg, rgba(0,184,222,1) 0%, rgba(49,142,194,1) 54%, rgb(4, 189, 221) 100%);
    margin-top: -100px;
    text-shadow: 1px 3px 30px rgb(0, 0, 0), 0 0 22px rgb(12, 80, 129);

}

.submit{
    width: 100% !important;
}
textarea{
    width: 100%;
   
    margin: 3px;
    border-radius: 10px;
    outline: rgb(230, 219, 219);
    
   
}
textarea:hover{
    width: 100%;
    resize: none;
    background-color: rgb(233, 232, 232);
    margin: 3px;
    border-radius: 10px;
    padding-bottom: 40px;
    outline: rgb(34, 33, 33);
    
   
}
.h2Adoptar{
    text-align: center;
    color: #fff;
    margin-top: -20px;
    padding: 5px;
    font-family: initial;
    
    
   
}

input{
    margin: 3px;
    border-radius: 10px;
    outline: #fff;
    height: 40px;
}
input:hover{
   
    margin: 3px;
    border-radius: 10px;
    outline: rgb(24, 23, 23);
    background: rgb(235, 231, 231);

}
/* .DetalleMascota{
    color:#fff;
    border: 10px solid red;
    background-color: aqua;
    margin-left: 50% ;
    margin-top: -60%;
} */
/************************************* efecto taegeta imagen **************************/
.contenedora{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -9%;

}
.contenedora figure{
    position: relative;
    height: 400px;
    width: 55%;
    overflow: hidden;
    
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;
    border-radius: 3%; 
}
.contenedora figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;

}
.contenedora figure .capas{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 118, 141, 0.308);
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 4%;
    font-family: initial;
    text-shadow: 1px 1px 10px rgb(0, 0, 0), 0 0 22px rgb(0, 149, 255);
}
.contenedora figure:hover >.capas{
   opacity: 1;
   visibility: visible;
   border: 5px solid rgb(4, 216, 253);
}
.contenedora figure:hover > .capas h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedora figure:hover > img{
    transform: scale(1.3);


}
.contenedora figure .capas h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}
.contenedora figure .capas p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    max-width: 250px; 
    width: 100%;
    margin: auto;
}
/************************************* fin **************************/

/************************************* botnes **************************/
.btns{
    width: 100%;
    border: 2px solid rgb(5, 182, 226);
    background-color: transparent;
    color: #fff;
    font-size: 23px;
  
    
}
.btns:hover{
    width: 100%;
    border: 2px solid #fff;
    background-color:rgb(5, 182, 226);
}



.codigo{
   display: none;
}



@media screen and (max-width: 594px){
    
    .contenedora figure{
        width: 400px;
    }
    .formAdoptar{
        width: 100%;
    }
    
    
    .contenedora figure:hover >.capas{
    opacity: 1;
    visibility: visible;
    border: 5px solid rgb(4, 216, 253);
    }
    .contenedora figure:hover > .capas h3{
     margin-top: 70px;
     margin-bottom: 15px;
    }
    .contenedora figure:hover > img{
     transform: scale(1.3);
 
 
    }
    .contenedora figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    
    }
    .contenedora figure .capas{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(1, 118, 141, 0.308);
        opacity: 0;
        visibility: hidden;
        text-align: center;
        border: 5px solid #fff;
        border-radius: 4%;
        font-family: initial;
        text-shadow: 1px 1px 10px rgb(0, 0, 0), 0 0 22px rgb(0, 149, 255);
    }
    .contenedora figure:hover >.capas{
       opacity: 1;
       visibility: visible;
       border: 5px solid rgb(4, 216, 253);
    }
}





.HideInputId{
    visibility: hidden;
}

.card-targeta{
    border: 4px solid white;
    margin-top: -70%; 
    max-width: 60%;
    min-width: 250px;

}
.titless{
    color: #fff;
    margin-top: 23px;
    text-shadow: 1px 1px 5px rgb(18, 18, 19), 0 0 22px rgb(12, 0, 0);
    font-family: cursive;
}
.card-title1{
    font-size: 40px;
    margin-top: -23px;
    text-align: center;
    border: 5px solid beige;
   


}
.fondo-targeta{
    background-color:rgba(184, 184, 184, 0.425) ;

}

@media screen and (max-width: 317px){
    .card-targeta{
        margin-top: -500px;
       width: 600px
    }
   
   
    
    
}
@media screen and (min-width: 317px){
    .card-targeta{
        margin-top: -400px;
       width: 600px
    }
    .CenterNombre{
        font-size: 20px;
    }
   
    .tes-respon{
        margin-left: 6px;
    }

}

@media screen and (min-width: 375px){
    .card-targeta{
        margin-top: -400px;
       width: 600px
    }
   
   
    
    
}
@media screen and (max-width: 1371px){
    .card-targeta{
        margin-top: -600px;
       width: 600px
    }
   
   
    
    
}
