img{
    width: 100%;
    border-radius: 10px;
}
.ContainerMascotas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    font-size: 25px;
    
}
.Mascotadiv{
    padding: 20px;
}
.CenterNombre{
    text-align: center;
}
button{
    width: 100%;
}
.formAdoptar{
    width: 70%;
    display: block !important;
    border-radius: 10px ;
    border :solid rgb(248, 247, 247);
    margin: 10px;
    padding: 50px;
    background: rgb(3, 176, 189);

}
.submit{
    width: 100% !important;
}
textarea{
    width: 100%;
    resize: none;
    border: 1px solid rgb(17, 16, 16);
    margin: 3px;
    border-radius: 10px;
    outline: #fff;
    
   
}
.h2Adoptar{
    text-align: center;
    color: #fff;
}
input{
    border: 1px solid rgb(17, 16, 16);
    margin: 3px;
    border-radius: 10px;
    outline: #fff;
    height: 40px;
}
input:hover{
    border: 1px solid rgb(17, 16, 16);
    margin: 3px;
    border-radius: 10px;
    outline: #fff;
    background: #fff;

}
.HideInputId{
    visibility: hidden;
}