
/* Inicio */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   ;
}
.bod{
  background-image: url("./img/fondo-pta.jpg");
  margin-top:-24px;
  border-radius: 5px; 
  
  
  
}
:root {
  --sombra-texto: #000;
  --primario: #54e072;
  --secundario: #015012;
  --terciario: #2b723a;
  --quarter: #58c06f;
 
  --fondo-nav: #135321;
  --blue-c: #fcf9f9;
}
/* Botones */

.BotonColor{
  background: #0e86aa;
  padding: 10px 10px;
  color: #fff !important;
  font-weight: bold;
  margin: 30px;
  cursor: pointer;
}

.botonincio{
  margin-top: -130px;
  margin-left: 550px;
  transform: translateX(-50%) translateY(-50);
}

.BotonColor:hover{
  background: #0ee6ee;
  cursor: pointer;
  
}
.titiloss{
  margin-top: -200px;
}
/* Fin */

/*Textos*/
.listo,
.title {
  color: #000;
 
}

.text-shadow {
  color: #fff;
  text-shadow: var(--sombra-texto) 0.1em 0.1em 0.2em;
  font-weight: bold;
}

.text-shadow a {
  text-decoration: none;
  color: var(--primario);
  font-weight: none;
}

.title-index {
  color: var(--secundario);
}
/* **************************imagenen principal ***************************** */
.banner{
  margin-top: -95px;
  position: relative;
  z-index: -1000;
}


.img{
  height: 677px;
  width: 100%;
  
} 
/****************fin*******************/



/********************** titulos ******** ****************/

.titulosadoptar{
 
  text-shadow: 1px 1px 5px rgb(18, 18, 19), 0 0 22px rgb(12, 0, 0);
}
.tituloborder{
  text-shadow: 1px 1px 10px rgb(0, 0, 0), 0 0 22px rgb(0, 149, 255);
}
.titulopets{
  margin-top:  -90px;
  width: 70%;
  margin-left: 130px;
  font-size: 40px;
  margin-left: 54px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.titulos-flecha{
  color: #eeeeee;
  text-shadow: 1px 1px 5px rgb(18, 18, 19), 0 0 22px rgb(12, 0, 0);
  background: rgb(0,5,8);
  background: rgb(0,5,8);
  background: linear-gradient(58deg, rgba(0,5,8,1) 0%, rgba(27,79,105,1) 50%, rgba(0,0,0,1) 100%);

}
.titulos-flecha2{
  color: #eeeeee;
  text-shadow: 1px 1px 5px red, 0 0 22px rgb(12, 0, 0);
}


/***************** fin ************/





/***************** efecto targeta **************/


/****************efecto imagen *****/
.desvanecer {
  transition: all 0.2s ease-in-out;
  height: 230px;
}
.desvanecer:hover {
  transform: scale(1.8);
}
.desva{
  overflow: hidden;
}

.title{
  background-color: transparent;
}

.info-columna:hover{
  box-shadow: 5px 10px 20px 1px rgb(255, 255, 255)ortant;
  transition: all 0.7s linear;
}
/**************** fin *******************/

/******** colores targeta ****************/
.card{
  background-color: #0f8cca8f;
  
}
.bg-targeta{
  background-color:transparent;
}
.inicio .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 8px 13px rgba(41, 35, 35, 0.2);
  background: rgba(245, 249, 250, 0.205);

}
.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}
/********* fin ***********/

/***** efecto targeta hover texto *****/
.inicio figure video{
  width: 100%;
  transition:  all 500ms ease-out;
}
.inicio figure img{
  width: 100%;
  transition:  all 500ms ease-out;
}
.inicio figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 240px;
  background:rgba(11,103,123,0.6);
  transition: all 500ms ease-in-out;
  opacity:0;
  visibility: hidden;
  text-align: center;
}
.inicio figure:hover > .capa{
  opacity: 1;
  visibility: visible;

}
.inicio figure:hover .capa h3{
  margin-top:40px;
  margin-bottom: 9px;

}
.inicio figure .capa h3{
 color:#fff;
 font-weight: 400;
 margin-bottom: 120px;
 transition: all 500ms ease-out;
 margin-top: 30px;


}
.inicio figure .capa p{
  color:#fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 223px;
  margin: auto;

}
.footer{
  background-color: #aed2f3;
  
  text-align: center;
  color:rgb(0, 197, 211); 
  border-radius: 21px;
}

.footer:hover{
  background: #0059ff;
  transition: all 0.3s ease-out;
  color:white

  
}
.link-card-footer:hover{
  color: white;
}
.link-card-footer{
  color: rgb(15, 14, 14); 
  

  transition: all 0.3s ease-out;
  padding: 6px 30px;
  text-decoration: none;

}
.link-card-footer:hover{
 
  transition: all 0.3s ease-out;
  text-decoration: none;

} 
/**************** fin *******************/
/******************* video y texto ****************/

.video{
 
  border-radius: 34px;
  object-fit: cover;
 
  border: 3px solid rgb(247, 247, 247);
  scroll-margin-right: 50px;
}
 
.video{
  margin-left: 2px;
  border-radius: 34px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

.about-container{
  display:flex;
  
  padding: 20px 0 20px 0;
}

.about-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
}
.about-desc > h2{
   margin-bottom: 10px; 
  font-size: 28px;
}
.about-desc > p{
  line-height: 1.5px;

}
.titulosadoptar{
  width: 90%;
  font-size: 20px;
  height: auto;
  text-align: justify;
  margin-left: 20px;
  box-sizing: border-box;

  color: #eeeeee;
  
}


.fotn{
  font-size: 20px;
  border: 2px solid red
} 
.videotargeta{
  border: 2px solid rgb(255, 255, 255);
  border-radius: 12px;

}
/************ fin ***********/
.clearfix{
  margin-top: -60px;
}





@media screen and (max-width: 700px) {
  .botonincio{
  
    display: none; 
  }
  .titulopets{
    margin-left: 4%;
    font-size: 27px;
    width: 100%;
  }
  .titulosadoptar{
    font-size: 15px;
  }
}
@media screen and (max-width: 960px) {
  .about-container{
    flex-direction: column;
    padding: 0;
    height: auto;
  }
  .about-desc{
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;

  }
  .about-desc > h3{
    font-size: 20px;
    text-align: center;
    
  }
  .video{
    width: 100%;
    margin-left: auto;
   
    
  }
  .cover-conta > video{
    width: 100%;

  }
  /* .tes{
   margin-left: 40px;
  } */
  .titulopets{
    margin-left: 2%;
    margin-left: 2%;
    font-size: 33px;
    width: 100%;
  }
 
}


/************* vide *********************/
/********************* seccion inicio imagenes ***************/
.about{
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  align-items: center;
  justify-items: center; 
  padding: 30px;
}
.about-img{
  text-align: center;
  
}
.about-img--left{
  text-align: left;
}
.about-picture{
  max-width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 4%;
  min-width: 100px;
  
 
 

}
.about-parrafo1{
  color: #fff;
  line-height: 1.5;
  font-weight: 300;
  text-shadow: 1px 1px 5px rgb(18, 18, 19), 0 0 22px rgb(12, 0, 0);
  width: 90%;
  font-size: 23px;
  height: auto;
  text-align: justify;
  min-width: 20%;
  margin-left: auto;
  box-sizing: border-box;
  color: #eeeeee;
  margin-left: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.about-parrafo2{
  color: #fff;
  line-height: 1.5;
  font-weight: 300;
  text-shadow: 1px 1px 5px rgb(18, 18, 19), 0 0 22px rgb(12, 0, 0);
  width: 90%;
  font-size: 23px;
  height: auto;
  text-align: justify;

  
  box-sizing: border-box;
  color: #eeeeee;
  margin-left: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.bsubtitulo{
 
  width: 70%;
 
  font-size: 30px;
  margin-left: 28%;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 1px 1px 5px rgb(18, 18, 19), 0 0 22px rgb(12, 0, 0);
}
.bsubtitulo2{
 
  width: 70%;
 
  font-size: 30px;
  margin-left: 28%;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 1px 1px 5px rgb(18, 18, 19), 0 0 22px rgb(12, 0, 0);
}


/*****************************fin ***************************/




@media screen and (max-width: 914px){
  .inicio figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 160px;
    background:rgba(11,103,123,0.6);
    transition: all 500ms ease-in-out;
    opacity:0;
    visibility: hidden;
    text-align: center;
  }
  .inicio figure:hover .capa h3{
    margin-top:-1px;
    margin-bottom: 9px;
  
  }
  .inicio figure .capa h3{
   color:#fff;
   font-weight: 400;
   margin-bottom: 120px;
   transition: all 500ms ease-out;
   margin-top: 30px;  
  }
  .bsubtitulo, .bsubtitulo2{
    margin-right: -70px;
  }
  
}



@media screen and (max-width: 1022px){
  .about{
    grid-template-columns: 1fr;
  }
  .about-img--left{
    text-align: center;
  }
  .about-text:last-child{
    grid-row: 3/4;
  }
  
  
}

.wrap{
 
 display: flex;
 width: 500px;
 justify-content: center;
 border-radius: 12%;
 
  
}
.targeta-wrap{
  
  perspective: 100;
  -webkit-perspective: 800;
  perspective: 800;
 

}
.targeta{
 height: 250px;
 width: 400px;
 
 
  position: relative;
  transform-style: preserve-3d;
  transition: .8s ease;
 
  
  -webkit-box-shadow: 0px 10px -5px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
  box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
  border-radius: 12px;
} 

.adelante, .atras{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 12px;

}
.atras{
  transform: rotateY(180deg);
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fcf9f9;
  font-family: "open sans";
  border-radius: 9%;
}
.targeta-wrap:hover .targeta{
  transform: rotateY(180deg);
 
}
.adelante{
  width: 100%;
 
}
@media (max-width: 521px){
  .about{
    padding: 0%;
  }
  .about-parrafo1, .about-parrafo2{
    color: #fff;
   
    width: 70%;
    font-size: 18px;
    height: auto;
    text-align: justify;
    min-width: 150px;
    margin-left: 13vh;
  }
  
  
  .bsubtitulo, .bsubtitulo2{
   
    width: 70%;
   
    font-size: 30px;
    margin-left: 22%;
   margin-right: auto;
  }
  .inicio figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 280px;
    background:rgba(11, 106, 123, 0.6);
    transition: all 500ms ease-in-out;
    opacity:0;
    visibility: hidden;
    text-align: center;
  }
  .inicio figure:hover .capa h3{
    margin-top:60px;
    margin-bottom: 9px;
  
  }
  .inicio figure .capa h3{
   color:#fff;
   font-weight: 400;
   margin-bottom: 120px;
   transition: all 500ms ease-out;
   margin-top: 30px;
  
  
  }
  
  
}
@media (max-width: 430px){
  .about{
    padding: 0%;
  }
  .about-parrafo1, .about-parrafo2{
    color: #fff;
   
    width: 65%;
    font-size: 18px;
    height: auto;
    text-align: justify;
    min-width: 150px;
    margin-left: 7vh;
  }
  .targeta{
    width: 240px;
    margin-right: 70px;
  }
  
  
  .bsubtitulo, .bsubtitulo2{
   
    width: 70%;
   
    font-size: 25px;
    margin-left: 20%;
   margin-right: auto;
  }
  
  
}
@media (max-width: 333px){
  .about{
    padding: 0%;
  }
  .about-parrafo1, .about-parrafo2{
    color: #fff;
   
    width: 50%;
    font-size: 18px;
    height: auto;
    text-align: justify;
    min-width: 150px;
    margin-left: -2%;
  }
  .targeta{
    width: 240px;
    margin-right: 90px;
  }
  .titulopets{
    margin-left: 2%;
    
    font-size: 27px;
    width: 100%;
  }
  .inicio figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 175px;
    background:rgba(11, 106, 123, 0.6);
    transition: all 500ms ease-in-out;
    opacity:0;
    visibility: hidden;
    text-align: center;
  }
  .inicio figure:hover .capa h3{
    margin-top:30px;
    margin-bottom: 9px;
  
  }
 
  
  
  .bsubtitulo, .bsubtitulo2{
   
    width: 70%;
   
    font-size: 20px;
    margin-left: 13%;
   margin-right: auto;
  }
  
  
}
@media (max-width: 443px){
  .about{
    padding: 0%;
  }


  .targeta{
  margin-left: -80px;

  }
  .bsubtitulo, .bsubtitulo2{
    margin-left: 14%;
  }
  .about-parrafo1, .about-parrafo2{
    margin-left: 8%;
  }
  
}
