*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cover-container{
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0,6);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.videos{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -1000;
    position: relative;   
}
.tuitulovideo{
    margin-top: -400px;
    font-family: serif;
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px 10px rgb(0, 195, 255), 0 0 22px rgb(102, 128, 146);
}
.parrafovideo{
    font-size: 23px;
    color: azure;
    width: 80%;
    text-align: justify;
    text-shadow: 1px 1px 10px rgb(0, 195, 255), 0 0 22px rgb(102, 128, 146);
    
}
.abajo::before{
    content: "";
    height: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4090eca1;
    opacity: 0.9;
}

.abajo{
    background-color: #4090ec4b;
    width: 40%;
    height: 500px;
    border-radius: 14px;
   
}
.contact-info{
    font-size: 2em;
    color: aliceblue;
    z-index: -1;
}



@media screen and (min-width: 1075px) {
    .parrafovideo{
        font-size: 16px;      
        width: 80%;
    }
    .videos{
        margin-top: -366px;
        z-index: -1000;
    }
}
@media screen and (max-width: 1075px) {
    .tuitulovideo{
       margin-top: -440px;
        z-index: -1000; 
    } 
    .parrafovideo{
        font-size: 16px;
        width: 80%;
    }
    .videos{
        margin-top: -340px;
        z-index: -1000;
    }
    
   
}
@media screen and (max-width: 654px) {
    .tuitulovideo{
        font-size: 30px;
        margin-top: -400px;
        z-index: -1000; 
        margin-top: -34px;
     } 
     .parrafovideo{
         font-size: 16px;
         width: 80%;
     }
     .videos{
         margin-top: -200px;
         z-index: -1000;
     }

}
@media screen and (max-width: 375px) {
    .parrafovideo{
        font-size: 16px;
        width: 70%; 
        
    }
    .videos{
        margin-top: 50px;
        z-index: -1000;
    }
    .tuitulovideo{
       
        margin-top: -490px;
        z-index: -1000; 
        
     } 
}
@media screen and (max-width: 675px) {
    .parrafovideo{
        font-size: 16px;
        width: 70%; 
        
    }
    .videos{
        margin-top: -235px;
        z-index: -1000;
    }
    .tuitulovideo{
       
        margin-top: -400px;
        z-index: -1000; 
        
     } 
}
 
