.flex__container{
  width:80%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  /* background: rgb(69,223,255);
  background: linear-gradient(90deg, rgba(69,223,255,1) 0%, rgba(18,134,198,1) 54%, rgba(125,235,255,1) 100%);
   */
  border-radius: 20px;
  margin: 30px auto;
  
  margin-top: -40px;
  background: rgb(0,184,222);
  background: linear-gradient(90deg, rgba(0,184,222,1) 0%, rgba(49,142,194,1) 54%, rgba(0,124,147,1) 100%);
  border:2px solid black;
}

.from{
  display:flex;
  flex-direction: column;

  text-align: center;
  padding: 30px;
}
@media(min-width: 1024px){
  .from{
      display:flex;
      flex-direction: column;
      width:100%;
      height:30%;
      min-width: 300px;
      flex:1;
      text-align: center;
      
  }
}
@media(max-width: 1024px){
  .from{
      display:flex;
      flex-direction: column;
      width:100%;
      height:30%;
      min-width: 300px;
      flex:1;
      text-align: center;
      
  }
}


.flex__img{
  flex: 1;
}
.imagen img{
  width:400px;
}

.from__input{
  width:90%;
  padding:6px;
  margin: 6px;
  outline: none;
  border-radius: 5px ;
  background:#fff;
  border-bottom: solid #7a0808;
  color: rgb(7, 7, 7);
  margin-left: -30px;
}


.from__input:hover{
  width:90%;
  padding:6px;
  margin: 6px;
  background:rgb(235, 228, 228);
  border-bottom:3px solid #08777a;
  margin-left: -30px;
}



.from__input:focus{
  width:90%;
  background:#fff;
  border-bottom:3px solid #cfcfcf;
 
}

.from textarea{
  min-height: 160px;
  resize: none;
  border-radius: 10px;
  width:90%;
  padding:6px;
  margin: 6px;
  background:#fff;
  border-bottom:3px solid #7a082a;
  outline: none;
  margin-left: -27px;
}

input:hover{
  border:none;
  background:transparent;
  outline: none;
  width:90%;
}


.imagen img{
  display:flex;
  margin: 0 auto;                                                                   
  background:transparent;
  
  width:100%;
  height: 495px;
  background-color: #75c5c5;
  margin-top: -445px;
  opacity: 0.10;

}


.imagen2{
  /* display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width:200px;
  height:200px;
  background:rgb(59, 56, 56);
  border-radius: 100px; */
}

.bto{
  width:30%;
  padding:10px;
  border-radius: 10px;
  outline:0;
  background:#000000;
  border: 0;
  margin-top: 36px;
  color: #fff;
}
.bto:hover{
  width:50%;
  padding:10px;
  border-radius: 10px;
  outline:0;
  background:#120faaa4;
  border: 0;
}