/* Footer */
.margen-footer{
  background-color: #000000;
    background-color: #28282a;
    opacity: 0.8;
    background-size: 5px 5px;
    background-image: repeating-linear-gradient(45deg, #000000 0, #000000 0.5px, #28282a 0, #28282a 50%);
}
.footer-title {
  color: var(--blue-c);
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.footer-a {
  color: var(--blue-c);
  font-weight: bold;
  text-decoration: none;
  list-style: none;
}

.footer-li {
  list-style-type: none;
}

/*Fondos*/
.green-bg {
  background-color: var(--fondo-v);
}



.bg-widget-footer {
  background-color: var(--terciario);
}

/*Borde redondeado*/
.border-radius-x {
  border-radius: 5px;
}

.link-index {
  text-decoration: none;
  color: var(--terciario);
  font-weight: none;
}

.link-index:hover {
  text-decoration: none;
  color: var(--quarter);
  font-weight: none;
}

.text {
  width: 28%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  font-family: 'Oswald', sans-serif;
}
.preguntas {
  width: 55%;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Oswald', sans-serif;
}
.clearfix {
  clear: both;
  font-family: 'Oswald', sans-serif;
}
.font{
  font-family: 'Oswald', sans-serif;
}
body {
  background-color: var(--blue-c) !important;
}

.formadm {
  margin-top: 150px;
}

/*Margen para id*/
.margin-id {
  margin-top: 150px;
}

/*Boton whastapp*/
.btn-whatsapp {
  display: block;
  width: 60px;
  height: 60px;
  color: #ffffff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
  opacity: 0.8;
  font-size: 3em;
}

.btn-whatsapp:hover {
  opacity: 1;
}

.btn-up {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 80px;
  bottom: 20px;
  line-height: 80px;
  text-align: center;
  z-index: 999;
  opacity: 1;
  font-size: 3em;
}

.btn-up a {
  color: rgb(221, 156, 14);
}

.btn-whatsapp a {
  color: #2b940b;
}

/*Botones redes sociales*/

.img_redes_size {
  color: #3f729b;
  width: 30px;
}

.bsignup {
  background: var(--fondo-v);
  background: linear-gradient(to right, var(--terciario), var(--fondo-v));
}
.bsignin {
  background: var(--fondo-v);
  background: linear-gradient(to right, var(--terciario), var(--fondo-v));
}
.btn {
  margin-bottom: 30px;
}
.img_porque_adoptar{
  flex-wrap: wrap-reverse; width: 100%;
}
