/* Tamaño del logo */

.img_size {
    width: 50px;
  }


.size_logo {
  width: 78%;
}
/* Fin */

/* Color de Navbar */

.nav__color {

    background: #135321;
  }

  /* Fin */
.navbar-nav a{
  display: block;
  list-style: none;
  padding: 10px;
  margin-left: 3px;
  
}

.navbar-nav a:hover{
  background: #000;
  transition: all 1s;
  padding: 10px;
  border-radius: 14px;
 
}


