body{
  display: flex;
  flex-direction: column;
}

.mainconteiner{
  min-height: calc(100vh - 100px);
  background: rgb(201, 201, 201);
}

.App-header {
  background-color: #61d315;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.img_size{
  width: 50px;
}

